{% extends 'base.html' %}

{% block title %}
    {{ user.username }} | Profile
{% endblock %}

{% block content %}

     <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a href="{% url 'home' %}">Boards</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Profile</li>
          </ol>
        </nav>

    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button class="btn btn-primary">Update</button>
    </form>

{% endblock %}